<h1>view user details</h1>
<br>
<h3>Name:{{user.name}}</h3>
<h3>email:{{user.email}}</h3>
<h3>created on:{{user.createdOn}}</h3>
<h3>modified on:{{user.modifiedOn}}</h3>
<h3>{{user.password}}</h3>
<a href="/user/edit"><button>Change Password</button></a>
<a href="/user/delete"><button>Delete</button></a>